services:
  web:
    build: .
    image: idle-quest
    container_name: idle-quest
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    command: [ "npm", "run", "dev", "--", "--host" ]
