@import "tailwindcss";

@theme {
    --font-pixel: "PixelCode", "Pixelify Sans";
    --font-pixelold: "Pixelify Sans";
    --font-inter: "Verdana";

    --color-rsyellow: #e4d553;
    --color-rsgreen: #90C040;
    --color-rsgreenlight: #afec4c;
    --color-rsgreendim: #81AC39;
    --color-rsgreendim2: #67892D;
    --color-currency: gold;
    --color-red: rgb(255, 60, 60);


    --color-grey1: #101010;
    --color-grey2: #181818;
    --color-grey3: #202020;
    --color-grey4: #282828;
    --color-grey5: #303030;
    --color-greywhite: #e2e2e2;
    --color-greywhitedim: #7d7d7d;
    --color-greywhitedim2: #bbbbbb;


    --color-rarity-1: #e2e2e2;
    --color-rarity-2: #2f2;
    --color-rarity-3: #55f;
    --color-rarity-4: #ff0;
    --color-rarity-5: #f70;


    --animate-fadeIn: fadeIn 0.3s ease-out forwards;
    --animate-scaleIn: scaleIn 0.3s ease-out forwards;
    --animate-fadeOut: fadeOut 0.3s ease-out forwards;
    --animate-scaleOut: scaleOut 0.3s ease-out forwards;

    --animate-fadeInFast: fadeIn 0.15s ease-out forwards;
    --animate-scaleInFast: scaleIn 0.15s ease-out forwards;
    --animate-fadeOutFast: fadeOut 0.15s ease-in forwards;
    --animate-scaleOutFast: scaleOut 0.15s ease-in forwards;


}

@utility font-pixel {
    font-family: var(--font-pixel);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    word-spacing: -1px;
}

:root {
    --color-rsyellow: #e4d553;
    --color-rsgreen: #90C040;
    --color-rsgreenlight: #afec4c;
    --color-currency: gold;
    --color-red: rgb(255, 60, 60);

    --color-grey1: #101010;
    --color-grey2: #181818;
    --color-grey3: #202020;
    --color-grey4: #282828;
    --color-grey5: #303030;
    --color-greywhite: #e2e2e2;
    --color-greywhitedim: #7d7d7d;
    --color-greywhitedim2: #bbbbbb;


    --color-rarity-1: #e2e2e2;
    --color-rarity-2: #2f2;
    --color-rarity-3: #55f;
    --color-rarity-4: #ff0;
    --color-rarity-5: #f70;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@keyframes fadeOut {
    0% {
        opacity: .6;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scaleIn {
    0% {
        margin-bottom: 300px;
        opacity: 0;
        transform: scale(1);
    }

    100% {
        margin-bottom: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleOut {
    0% {
        margin-bottom: 0px;
        opacity: 1;
        transform: scale(1);
    }

    100% {
        margin-bottom: 300px;
        opacity: 0;
        transform: scale(1);
    }
}

.outline-text {
    /* fill color */
    -webkit-text-stroke: .2px black;

    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

html {
    background-image: url("assets/bg.jpg");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: repeat-y;
    background-size: 1250px;

    color: var(--color-greywhite);
    font-family: var(--font-inter);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #181818;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 4px;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Light-Italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Medium-Italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-DemiBold-Italic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "PixelCode";
    src: url("./assets/fonts/PixelCode-Bold-Italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Verdana";
    src: url("./assets/fonts/VerdanaPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Verdana";
    src: url("./assets/fonts/VerdanaPro-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Verdana";
    src: url("./assets/fonts/VerdanaPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}