@import "tailwindcss";

@theme {
    --font-pixel: "Pixelify Sans";
    --font-inter: "Inter";

    --color-rsyellow: #e4d553;
    --color-rsgreen: #90C040;
    --color-rsgreenlight: #afec4c;

    --color-currency: gold;
    --color-grey1: #101010;
    --color-grey2: #181818;
    --color-grey3: #202020;
    --color-grey4: #282828;
    --color-grey5: #303030;



    --animate-fadeIn: fadeIn 0.3s ease-out forwards;
    --animate-scaleIn: scaleIn 0.3s ease-out forwards;
    --animate-fadeOut: fadeOut 0.3s ease-out forwards;
    --animate-scaleOut: scaleOut 0.3s ease-out forwards;


}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}

@keyframes fadeOut {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scaleIn {
    0% {
        margin-bottom: 300px;
        opacity: 0;
        transform: scale(1);
    }

    100% {
        margin-bottom: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleOut {
    0% {
        margin-bottom: 0px;
        opacity: 1;
        transform: scale(1);
    }

    100% {
        margin-bottom: 300px;
        opacity: 0;
        transform: scale(1);
    }
}

.outline-text {
    /* fill color */
    -webkit-text-stroke: 0.3px black;

    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

html {
    background-image: url("assets/bg.jpg");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: repeat-y;
    background-size: 1250px;

    color: #E2E2E2;
    font-family: "Inter";
}