@import "tailwindcss";

@theme {
    --font-pixel: "Pixelify Sans";
    --font-inter: "Inter";

    --animate-fadeIn: fadeIn 0.2s ease-out forwards;
    --animate-scaleIn: scaleIn 0.2s ease-out forwards;


}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.outline-text {
    /* fill color */
    -webkit-text-stroke: 0.3px black;

    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

html {
    background-image: url("assets/bg.jpg");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: repeat-y;
    background-size: 1250px;

    color: #DDDDDD;
    font-family: "Inter";
}